about {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    margin: auto;
    width: 50%;
}

.about-container h1 {
    color: #1e1e1e;
    background-color: #EEE;
    font-size: larger;
}

.about-container p {
    color: #444;
    font-size: small;
}