h2 {
    color: #1e1e1e;
    font-size: medium;
}

.blog-list {
    display: block;
    justify-content: center;
    text-align: center;
    width: 50%;
    margin: auto;
    color: #444;
}

h3 {
    background-color: #EEE;
}

img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    display: block; 
    margin: 0; 
}