.contact {
    display: flex;
    flex-direction: row; /* Aligne les éléments horizontalement */
    align-items: center; /* Centre verticalement les éléments */
    margin: 20px; 
    padding: 20px; 
    border-radius: 8px; 
    background-color: #EEE; 
}

.contact img {
    width: 50%; /* Ajustez la taille de l'image selon vos besoins */
    margin-right: 20px; /* Ajoute un espace entre l'image et le texte */
}

.contact-info {
    text-align: left; /* Aligne le texte à gauche */
}

