Footer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

Footer p {
    color: #444;
    background-color: #EEE;
    padding: 7rem;
    text-align: center;
}

Footer img {
    display: inline-block;
    align-items: center;
    width: 70px;
    height: 70px;
    padding: 1.5rem;
}