footer {
    background-color: #000000;
    color: #EEE;
    padding: 20px;
}

.footer-content {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
}

.footer-content img {
    width: 40px; 
    height: auto; 
}


