.hero-header {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .hero-image {
    width: 100%;
    height: auto;
  }
  
  .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    border-radius: 10px;
  }
  
  @media (max-width: 768px) {
    .hero-content h1 {
      font-size: 1.5rem; /* Taille de police pour petits écrans */
    }
  
    .hero-content h2 {
      font-size: 1rem; /* Taille de police pour petits écrans */
    }
  }

