header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

header h1 {
    color: #1e1e1e;
    background-color: #0d6efd;
}

header h2 {
    color: #1e1e1e;
    background-color: #0d6efd;
}