.about-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 0;
}

.title-container {
    background-image: url('../assets/accueil.jpeg'); 
    background-size: cover; 
    background-position: center; 
    color: white; 
    width: 96.2%;
    height: 25vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    padding: 20px; 
    margin: 0;
}

h1, h2 {
    margin: 0; 
    padding: 10px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}

