.about-title {
    font-weight: bold;
    border-bottom: 2px solid #0d6efd;
    padding-bottom: 5px;
    margin-bottom: 20px;
  }
  
  .progress {
    height: 10px;
    background-color: #EEE;
  }
  
  .progress-bar {
    transition: width 0.6s ease;
  }