.content-container {
    display: flex;
    align-items: flex-start; 
}

.presentation-container {
    flex: 1; 
    margin-right: 20px; 
    color: #444;
}

.competences-image {
    max-width: 80%; 
    height: auto; 
}