.services-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #444;
    background-color: #EEE;
  }
  
  .service-card {
    padding: 20px;
    border-radius: 5px;
  }

  h2 { 
    text-align: center;
    font-size: larger;
    color: #1e1e1e;
  }